<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/borrowable.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ethers/5.5.1/ethers.umd.js" integrity="sha512-83dP6P/Fmka9dR4PRvT3+FRd2cbMJpCOuSX6iMB3eAI9KHVHHYg0cX2dvgmW/Cs5hZif0qQ8r99JWa6EpGY0Aw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="assets/photos/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/photos/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/photos/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/photos/favicon/site.webmanifest">
  <link rel="mask-icon" href="assets/photos/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="assets/photos/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="assets/photos/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <div id="reimbursementModalWrapper">
    <div id="reimbursementModal">
      <div>
        <img id="reimbursementPreview" src="/assets/photos/unchosen.svg">
      </div>
      <div>
        <form action="javascript:;" onsubmit="sendRepay()">
          <h3>Choose NFT to Reimburse</h3>
          <span><p>Return Originally Borrowed NFT</p><input id="reimburse_original" type="checkbox" name="returnOriginal" onchange="formDidChange()"></input></span>
          <p>OR</p>
          <label>
            <input id="reimburse_tokenId" type="text" name="tokenId" placeholder="Token ID" oninput=formDidChange()></input>
            <span>Token ID</span>
          </label>
          <input id="reimburseSubmit" type="submit" value="Waiting...">
        </form>
      </div>
    </div>
  </div>
  <div id="navbar">
    <img id="navAcc" src="/assets/photos/back.svg">
    <img class="navLogo" src="/assets/photos/fulllogorinkeby.svg">
  </div>
  <div id="showoff">
    <div id="nftView">
      <div id="left">
        <img id="mainImage">
        <div id="buttons">
          <button id="enableEthereumButton">Enable Ethereum</button>
          <button id="borrowButton">Borrow</button>
          <button id="withdrawButton">Withdraw</button>
          <button id="approveButton">Approve</button>
          <button id="repayButton">Reimburse NFT</button>
          <button id="livenButton"></button>
          <button id="liquidateButton">Liquidate</button>
        </div>
      </div>
      <div id="right">
        <div id="rightContent">
          <p>Collection</p>
          <h3 class="label"></h3>
          <p>Lender</p>
          <h3 class="label"></h3>
          <p>Valuation</p>
          <h3 class="label"></h3>
          <p>Collateral Requirement</p>
          <h3 class="label"></h3>
          <p>Interest</p>
          <h3 class="label">%</h3>
          <p>Loan Duration</p>
          <h3 class="label" id="loanDuration"></h3>
        </div>
      </div>
    </div>
  </div>
  <script>
    const contractAddress = "<%= contractAddress %>";
    const nftAddress = "<%= nftAddress %>";
    const tokenId = "<%= tokenId %>";
  </script>
  <script src="/assets/js/base.js"></script>
  <script src="/assets/js/contract-interaction.js"></script>
  <script src="/assets/js/borrowable.js"></script>

</body>
</html>
