<!DOCTYPE html>
<html>
<head>
  <title>Balloon - Lend, Borrow, and Short NFTs</title>
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/dapp.css">
  <link rel="stylesheet" href="/assets/css/dapp_mobile.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ethers/5.5.1/ethers.umd.js" integrity="sha512-83dP6P/Fmka9dR4PRvT3+FRd2cbMJpCOuSX6iMB3eAI9KHVHHYg0cX2dvgmW/Cs5hZif0qQ8r99JWa6EpGY0Aw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/photos/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/photos/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/photos/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/photos/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/photos/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/photos/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/assets/photos/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <div id="metaModal">
    <div>
      <img src="/assets/photos/metamaskfox.svg">
      <button id="enableEthereumButton">Enable Ethereum</button>
    </div>
  </div>

  <div id="navbar">
    <img class="navLogo" src="/assets/photos/fulllogorinkeby.svg">
    <img id="profileLink" src="/assets/photos/user.svg">
  </div>
  <div id="showoff">
    <div id="sidebar">
      <button type="button" class="collapsible">Collections</button>
      <div class="dropdownContent" id="collectionsDropdown">
        <p>Test dropdown, needs completed</p>
      </div>
    </div>
    <div id="innerInteractable">
      <div id="borrowableGrid">
        <div class="nftElement">
          <div class="grid-item">
            <img class="nftImage">
          </div>
          <div class="nftDescriptionContainer">
            <div class="nftPriceContainer">
              <img class="nftPriceETHLogo" src="/assets/photos/ethlogo.svg" alt="Ethereum Logo"/><h4 class="priceLabel"></h4><h3 class="collateralLabel"></h3><h4 class="nftTokenId"></h4>
            </div>
            <div class="nftCollectionContainer">
              <h4 class="nftCollectionName"></h4>
            </div>
          </div>
        </div>
      </div>
      <div id="pageButtons">
        <a href="javascript:prevPage()"><img src="/assets/photos/back.svg"></a>
        <a href="javascript:nextPage()"><img src="/assets/photos/forward.svg"></a>
      </div>
    </div>
  </div>
  <script>const contractAddress = "<%= contractAddress %>";</script>
  <script src="/assets/js/base.js"></script>
  <script src="/assets/js/contract-interaction.js"></script>
  <script src="/assets/js/dapp.js"></script>

</body>
</html>
