<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/assets/css/index.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
  <div id="showoff">
    <div id="borrowableGrid">
      <% for (var i = 0; i < liveNFTs.length; i++) {%>
        <div class="grid-item">
          <img class="nftImage" src="<%= imageURIs[i] %>">
        </div>
      <% } %>
    </div>
  </div>
  <script src="/assets/js/index.js"></script>
  <script>

  </script>
</body>
</html>
