<!DOCTYPE html>
<html>
<head>
  <title>Balloon - Lend, Borrow, and Short NFTs</title>
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/index.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.0.3/tilt.jquery.min.js" integrity="sha512-14AZ/DxUrlF26z6v7egDkpJHKyJRn/7ue2BgpWZ/fmqrqVzf4PrQnToy99sHmKwzKev/VZ1tjPxusuTV/n8CcQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/photos/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/photos/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/photos/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/photos/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/photos/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/photos/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/assets/photos/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
</head>
<body id="body">
  <div id="home">
    <div id="navbar">
      <img class="navLogo" src="assets/photos/fulllogorinkeby.svg">
      <div class="navLinks">
        <a href="dapp" class="navitem navstar">Launch dApp</a>
      </div>
    </div>
    <div id="showoff">
      <div id="background"></div>
      <div class="content">
        <div id="infoContainer">
          <button id="learnmore" class="showoffButton">Learn More</button>
          <button id="dappLauncher" class="showoffButton">Launch dApp</button>
          <div class="socials">
            <img src="assets/photos/twitter_pink.svg">
            <img src="assets/photos/discord_pink.svg">
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div id="about">
    <h1>What can you do?</h1>
    <div class="row">
      <div class="col-4 tile js-tilt" data-tilt>
        <div class="inner">
          <div class="imgContainer">
            <img src="assets/photos/lending.svg">
          </div>
          <div class="aboutTextHolder">
            <h2>Lend</h2>
            <p>Balloon makes it easy to earn passive returns on your NFTs. Simply deposit a floor-priced NFT of your choosing, specificy a few parameters, and earn interest on your NFTs! <a>Read More</a></p>
          </div>
        </div>
      </div>
      <div class="col-4 tile js-tilt" data-tilt>
        <div class="inner">
          <div class="imgContainer">
            <img src="assets/photos/borrow.svg">
          </div>
          <div class="aboutTextHolder">
            <h2>Borrow</h2>
            <p>Borrowing NFTs has never been easier. Just choose an NFT to borrow, post collateral, and do with it what you wish! You may return any NFT of the same collection to repay your loan.<a>Read More</a></p>
          </div>
        </div>
      </div>
      <div class="col-4 tile js-tilt" data-tilt>
        <div class="inner">
          <div class="imgContainer">
            <img src="assets/photos/short.svg">
          </div>
          <div class="aboutTextHolder">
            <h2>Short</h2>
            <p>By borrowing, selling immediately, and buying back later, Balloon allows you to effectively short NFTs. After taking a loan, you may return any NFT within that collection <a>Read More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="easyLending" class="easyTopic">
    <h1>Lending</h1>
    <div>
      <div class="easyLeft">
        <h1>Limited Risk,</h1>
        <h1>Attractive Returns.</h1>
        <p>Specify your NFT's valuation and a collateral multiplier to ensure borrowers are overcollateralized to your standards. If a borrower does not repay a loan, you will have the opportunity to seize all of their collateral after the loan's expiration date.</p>
      </div>
      <div class="easyRight">
        <div id="floatingETHContainer">
          <img src="assets/photos/floatingeth.svg">
        </div>
      </div>
    </div>
  </div>
  <div id="easyBorrowing" class="easyTopic">
    <h1>Borrowing</h1>
    <div>
      <div class="easyLeft">
        <div class="nftElement">
          <div class="grid-item">
            <img class="nftImage" src="https://lh3.googleusercontent.com/0gdZ45HaU-bK930OyA9Lu5g5YpQ1Yady6vpd441zbjUBELN4hzI8FeIY99MItiVJXw1-l3o210uu67sTM9nkGiG8">
          </div>
          <div class="nftDescriptionContainer">
            <div class="nftPriceContainer">
              <img class="nftPriceETHLogo" src="/assets/photos/ethlogo.svg" alt="Ethereum Logo"/><h4 class="priceLabel">120</h4><h3 class="collateralLabel">@ 2x</h3><h4 class="nftTokenId">#6089</h4>
            </div>
            <div class="nftCollectionContainer">
              <h4 class="nftCollectionName">CryptoPunks</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="easyRight">
        <h1>Borrow on your own terms.</h1>
        <p>When borrowing, you may choose the NFT with the most optimal valuation, collateral requirement, and loan duration for your circumstances. Upon repayment, you will only pay interest proportional to the time elapsed relative to the loan duration; you will only need to worry about liquidation if you do not repay your loan before the end date. In the event that you are liquidated, you will forfeit all of your collateral to the lender but will remain the owner of the NFT.</p>
      </div>
    </div>
  </div>
  <div id="roadmap">
    <div>
      <div class="left">
        <img src="assets/photos/roadmap.svg" alt="Roadmap Balloon">
      </div>
      <div class="right">
        <h1>Roadmap</h1>
        <div class="milestone">
          <h4>Live on Rinkeby Testnet</h4>
          <p>Balloon is live on the Rinkeby testnet and lending and borrowing is enabled. Visit the app <a href="dapp">here</a> to test out the platform.</p>
        </div>
        <div class="milestone">
          <h4>Enable ERC20 Collateralization</h4>
          <p>Soon, Balloon will support the use of ERC20 tokens as collateral and for interest payments. Currently, only ETH is permitted to be used.</p>
        </div>
        <div class="milestone">
          <h4>Security Audit</h4>
          <p>Before its release on the Ethereum mainnet, Balloon will be receiving a security audit from a reputed institution. Once we make our contract(s) public, we intend to host bug bounties for developers.</p>
        </div>
        <div class="milestone">
          <h4>Mainnet Release</h4>
          <p>Balloon will be released on the Ethereum mainnet soon and will interact with live NFTs.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="faq">
    <h1>FAQ</h1>
    <div class="qa question">
      <div class="left">
        <h1>Q</h1>
      </div>
      <div class="right">
        <h3>How am I able to bet against NFTs using Balloon?</h3>
      </div>
    </div>
    <div class="qa answer">
      <div class="left">
        <h1>A</h1>
      </div>
      <div class="right">
        <h3>By borrowing an NFT, selling it on the open market, waiting for the floor-price of the collection to drop, buying the same or different NFT back and returning it, you can effectively short an NFT collection.</h3>
      </div>
    </div>
    <div class="qa question">
      <div class="left">
        <h1>Q</h1>
      </div>
      <div class="right">
        <h3>Why don't I see the NFTs I've deposited on Rinkeby?</h3>
      </div>
    </div>
    <div class="qa answer">
      <div class="left">
        <h1>A</h1>
      </div>
      <div class="right">
        <h3>We often update our smart contract to include new features. Once Balloon is deployed to the Ethereum mainnet </h3>
      </div>
    </div>
  </div>

  <div id="footer">
    <p>&copy; 2021 Ireland Labs</p>
    <div class="links">
      <img src="assets/photos/etherscan.svg" id="linkEtherscanLink" alt="Etherscan Link">
      <img src="assets/photos/twitter.svg" id="linkTwitterLink" alt="Twitter Link">
    </div>
  </div>
  <script>const contractAddress = "<%= contractAddress %>";</script>
  <script src="assets/js/index.js"></script>
  <script>

  </script>
</body>
</html>
