<!DOCTYPE html>
<html>
<head>
  <title>Balloon - Profile</title>
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/profile.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.0.3/tilt.jquery.min.js" integrity="sha512-14AZ/DxUrlF26z6v7egDkpJHKyJRn/7ue2BgpWZ/fmqrqVzf4PrQnToy99sHmKwzKev/VZ1tjPxusuTV/n8CcQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/ethers@5.5.1/lib/index.min.js"></script>
</head>
<body id="body">
  <div id="home">
    <div id="navbar">
      <img class="navLogo" src="/assets/photos/fulllogo.svg">
    </div>
    <div id="showoff">
      <div id="profHolder">
        <img src="/assets/photos/usergray.svg">
      </div>
    </div>
    <div id="statii">
      <div class="actives">
        <h1>Active Borrows</h1>
        <div class="nftGrid">
          <div class="nftObject">
            <img src="">
          </div>
        </div>
      </div>

      <div class="actives">
        <h1>Active Loans</h1>
        <div class="nftGrid">
        </div>
      </div>
    </div>
    <div class="actives deposits">
      <h1>Deposits</h1>
    </div>
  </div>
  <script src="/assets/js/profile.js"></script>
  <script>

  </script>
</body>
</html>
