<!DOCTYPE html>
<html>
<head>
  <title>Balloon - Profile</title>
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/profile.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ethers/5.5.1/ethers.umd.js" integrity="sha512-83dP6P/Fmka9dR4PRvT3+FRd2cbMJpCOuSX6iMB3eAI9KHVHHYg0cX2dvgmW/Cs5hZif0qQ8r99JWa6EpGY0Aw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/8.0.2/bignumber.min.js" integrity="sha512-7UzDjRNKHpQnkh1Wf1l6i/OPINS9P2DDzTwQNX79JxfbInCXGpgI1RPb3ZD+uTP3O5X7Ke4e0+cxt2TxV7n0qQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/photos/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/photos/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/photos/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/photos/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/photos/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/photos/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/assets/photos/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <title>Balloon - Profile</title>
</head>
<body id="body">
  <div id="modalWrapper">
    <div id="metaModal">
      <div>
        <form action="javascript:;" onsubmit="handleProfileUpdate(this)">
          <h3>Update Profile</h3>
          <label>
            <input id="nameField" type="text" name="name" placeholder="Account Name"></input>
            <span>Account Name</span>
          </label>
          <p>Enter an NFT address and token ID to set your profile picture.</p>
          <label>
            <input id="addressField" class="margined" type="text" name="address" placeholder="NFT Address"></input>
            <span>NFT Address</span>
          </label>
          <label>
            <input id="tokenIdField" class="margined" type="text" name="tokenId" placeholder="Token ID"></input>
            <span>Token ID</span>
          </label>
          <input type="submit" value="Update">
        </form>
        <!--<button id="enableEthereumButton">Enable Ethereum</button>-->
      </div>
    </div>
  </div>
  <div id="depositModalWrapper">
    <div id="depositModal">
      <div>
        <img id="depositPreview" src="/assets/photos/unchosen.svg">
      </div>
      <div>
        <form action="javascript:;" onsubmit="deposit()">
          <h3>Deposit NFT</h3>
          <div class="field">
            <label>
              <input id="deposit_nft_address" type="text" name="address" placeholder="NFT Address" onchange="tryToObtainNFTPhoto()"></input>
              <span>NFT Address</span>
            </label>
            <a data-tooltip="The contract address of the NFT you want to deposit."><img class="info" src="/assets/photos/info.svg"></a>
          </div>
          <div class="field">
            <label>
              <input id="deposit_tokenId" type="text" name="tokenId" placeholder="Token ID" onchange=tryToObtainNFTPhoto()></input>
              <span>Token ID</span>
            </label>
            <a data-tooltip="The token ID of the NFT you want to deposit"><img class="info" src="/assets/photos/info.svg"></a>
          </div>
          <div class="field">
            <label>
              <input id="deposit_valuation" type="text" name="valuation" placeholder="Valuation (ETH)"></input>
              <span>Valuation</span>
            </label>
            <a data-tooltip="The valuation of the NFT you want to deposit. This value is set by you and borrowers are expected to borrow NFTs with the lowest valuation. The floor price of the collection is a common choice."><img class="info" src="/assets/photos/info.svg"></a>
          </div>
          <div class="field">
            <label>
              <input id="deposit_interest" type="text" name="interest" placeholder="Interest Rate (Max 2 Decimal Precision)"></input>
              <span>Interest Rate</span>
            </label>
            <a data-tooltip="The interest rate charged to the borrower."><img class="info" src="/assets/photos/info.svg"></a>
          </div>
          <div class="field">
            <label>
              <input id="deposit_duration" type="text" name="duration" placeholder="Loan Duration (Seconds)"></input>
              <span>Loan Duration</span>
            </label>
            <a data-tooltip="The duration (in seconds) of the loan. If a borrower has not reimbursed the NFT by the end of the loan duration the lender can liquidate them."><img class="info" src="/assets/photos/info.svg"></a>
          </div>
          <div class="field">
            <label>
              <input id="deposit_collateral_multiplier" type="text" name="multiplier" placeholder="Collateral Multiplier (Use only integers)"></input>
              <span>Collateral Multiplier</span>
            </label>
            <a data-tooltip="The multiplier by which borrowers must be collateralized. Borrowers will have to post ETH totaling the valuation multiplied by the collateral multiplier. Borrowers are expected to borrow NFTs with the lowest collateral multiplier."><img class="info" src="/assets/photos/info.svg"></a>
          </div>
          <div class="field">
            <span><p>Borrowable Upon Deposit</p><input id="deposit_start_live" type="checkbox" name="startLive" placeholder="Borrowable Upon Deposit"></input></span>
            <a data-tooltip="If checked, this NFT will be able to be borrowed as soon as it is deposited in Balloon. If unchecked, you can make it live later."><img class="info" src="/assets/photos/info.svg"></a>
          </div>
          <div class="field">
            <span><p>Relist Upon Loan Reimbursement</p><input id="deposit_should_relist" type="checkbox" name="shouldRelist" placeholder="Relist Upon Loan Reimbursement"></input></span>
            <a data-tooltip="If checked, NFTs will be able to be reborrowed as soon as they are reimbursed from a loan. If unchecked, they will not be live upon loan reimbursement, and you can change this value later."><img class="info" src="/assets/photos/info.svg"></a>
          </div>
          <div class="submitWrapper">
            <input id="depositSubmit" type="submit" value="Loading...">
            <img id="deposit_loader" class="loader" src="/assets/photos/loading.svg">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="home">
    <div id="navbar">
      <img id="navAcc" src="/assets/photos/back.svg">
      <img class="navLogo" src="/assets/photos/fulllogorinkeby.svg">
    </div>
    <div id="showoff">
      <div id="profHolder">
        <img id="pfp" src="/assets/photos/usergray.svg">
        <div id="editProfile"><img src="/assets/photos/edit.svg"></div>
      </div>
      <h2 id="profileName"></h2>
    </div>
    <div id="statii">
      <div class="actives">
        <h1>Active Borrows</h1>
        <div class="borrows">
          <div class="borrowGrid">
            <div class="nftObject">
              <img class="nftImage">
            </div>
          </div>
          <a href="javascript:prevPage(1)" class="btn_prev"><img src="/assets/photos/back.svg"></a>
          <a href="javascript:nextPage(1)" class="btn_next"><img src="/assets/photos/forward.svg"></a>
        </div>
      </div>

      <div class="actives">
        <h1>Active Loans</h1>
        <div class="loans">
          <div class="loanGrid">
            <div class="nftObject">
              <img class="nftImage">
            </div>
          </div>
          <a href="javascript:prevPage(2)" class="btn_prev"><img src="/assets/photos/back.svg"></a>
          <a href="javascript:nextPage(2)" class="btn_next"><img src="/assets/photos/forward.svg"></a>
        </div>
      </div>
    </div>
    <div class="actives" id="depositContainer">
      <div id="depositHeaderContainer">
        <h1>Deposits</h1>
        <button id="depositButton">Deposit NFT</button>
      </div>
      <div class="deposits">
        <div class="depositGrid">
          <div class="nftObject">
            <img class="nftImage">
          </div>
        </div>
        <a href="javascript:prevPage(0)" class="btn_prev"><img src="/assets/photos/back.svg"></a>
        <a href="javascript:nextPage(0)" class="btn_next"><img src="/assets/photos/forward.svg"></a>
      </div>
    </div>
  </div>
  <script>const contractAddress = "<%= contractAddress %>";</script>
  <script src="/assets/js/base.js"></script>
  <script src="/assets/js/contract-interaction.js"></script>
  <script src="/assets/js/profile.js"></script>
</body>
</html>
