.navLogo {
  margin-left: 0;
  margin-right: 2%;
}

#showoff {
  width: 100%;
}

#nftView {
  display: flex;
  box-shadow: 0 3px 47px rgba(0,0,0,0.15);
  border-radius: 15px;
  width: 70%;
  margin: auto;
  position: relative;
  margin-top: 2.5%;
}

#left {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
}

#mainImage {
  width: 100%;
  border-radius: 15px;
}

#right {
  width: 60%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

#buttons {
  margin-top: 10px;
  width: 100%;
}

#buttons button {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  background-color: #354551;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 3%;
  font-size: 1.5em;
  width: 100%;
}


#rightContent {
}

#rightContent h3 {
  white-space: nowrap;
  margin-bottom: 10px;
}
