#header {
  text-align: center;
}

#showoff {
  height: 100%;
  width: 100%;
  z-index: 2;
}

#sidebar {
  background-color: #DFE6E9;
  width: 20%;
  height: 100%;
  position: fixed;
  z-index: 3;
}

.collapsible {
  background-color: #eee;
  color: #354551;
  cursor: pointer;
  border: none;
  text-align: center;
  outline: none;
  padding: 0;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.2em;

}

.active, .collapsible:hover {
  background-color: #ccc;
}

.dropdownContent {
  overflow: hidden;
  max-height: 0;
  background-color: #f1f1f1;
  transition: max-height 0.2s ease-out;
}

#borrowableGrid {
  display: grid;
  grid-row-gap: 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 25%;
  width: 70%;
  margin-right: 5%;
  padding-top: 5%;
}
