/* SHOWOFF */

#home {
  min-height: 80vh;
  background-color: white;
  position: relative;
}

#showoff {
  position: relative;
}

#showoff #background {
  background-image: url("../photos/background.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(80vh - 95px);
}

#showoff .content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding-top: 5%;
}

#showoff .content h1 {
  margin-left: 20%;
  margin-right: 20%;
}


#showoff h1, #showoff p {
  color: black;
}

#leanmoreContainer {
  display: flex;
  justify-content: center;
}

#learnmore {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  font-size: 2em;
  margin: auto;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  background-color: #db0a5b;
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 5%;
  cursor: pointer;
}

/* WHAT CAN YOU DO? */

#about {
  background-color: white;
  width: 100%;
}

#about h1 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}

.tile {
  box-shadow: 0 3px 47px rgba(0,0,0,0.15);
  transform-style: preserve-3d;
  position: relative;
}

.tile .inner {
  transform: translateZ(20px);
  text-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

.row {
  display: flex;
  justify-content: center;
}

.col-4 {
  max-width: 15%;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, rgba(219, 10, 91, 0.05), rgba(219, 10, 91, 0.2), rgba(219, 10, 91, 0.05));
  background: -webkit-linear-gradient(to bottom right, rgba(219, 10, 91, 0.05), rgba(219, 10, 91, 0.2), rgba(219, 10, 91, 0.05));
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
}

#about .imgContainer {
  margin: auto;
  width: 50%;
}

#about img {
  width: 100%;
}

#about h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* TOPICS */

.easyTopic {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  box-shadow: 0 3px 47px rgba(0,0,0,0.15);
  max-width: 69%; /* nice */
  margin: auto;
  margin-bottom: 50px;
}

.easyTopic > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.easyTopic > h1 {
  text-align: left;
  padding-top: 30px;
  color: black;
  font-weight: lighter;
  font-size: 1.5em;
  padding-left: 30px;
}

#easyLending {
  margin-top: 50px;
}

#easyLending .easyLeft h1:nth-child(2) {
  padding-bottom: 20px;
}

#easyBorrowing .easyRight h1 {
  padding-bottom: 20px;
}

#easyLending p {
  font-size: 1.2em;
}

#easyLending > div > div {
  width: 34.5%;
}

#floatingETHContainer {
  width: 75%;
  margin: auto;
}

#floatingETHContainer > img {
  width: 100%;
}

.nftElement {
  width: 240px;
  height: 300px;
  margin: auto;
  cursor: default;
}

#easyLending .nftElement {
  margin-right: 0;
}

/* BORROWING */

#easyBorrowing > div > div {
  width: 30%;
}

#easyBorrowing .nftElement {
  margin-left: 0;
}

/* ROADMAP */

#roadmap {
  width: 60%;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#roadmap > div {
  width: 100%;
  height: 100%;
  display: flex;
}

#roadmap .left {
  height: 100%;
}

#roadmap .right {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#roadmap .right h1 {
  text-align: center;
}

#roadmap .left img {
  height: 100%;
}

#roadmap .milestone {
  padding-left: 20px;
}

/* FAQ */

#faq {
  max-width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#faq > h1 {
  text-align: center;
  margin-bottom: 30px;
}

.faq {
  margin-bottom: 50px;
}

#faq .qa {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#faq .question {

}

#faq .answer {
  border-bottom: 1px solid #db0a5b;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

#faq .right {
  width: 90%;
}

#faq .left h1 {
  font-size: 2.5em;
}

#faq .answer .right h3 {
  font-weight: 400;
}



/* FOOTER */

#footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #EEE;
  align-items: center;
}

#footer > p {
  margin-left: 2%;
}

#footer .links {
  margin-right: 2%;
}

#footer .links img {
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

/* MOBILE */

@media (max-aspect-ratio: 10/16) {

  /* SHOWOFF */

  #showoff #background {
    background-image: url("../photos/bg-mobile.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  #showoff .content h1 {
    padding-top: 20%;
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
    font-size: 2.5rem;
  }

  #learnmore {
    font-size: 3em;
    bottom: 0;
    padding: 20px;
    margin-bottom: 5%;
  }

  /* WHAT CAN YOU DO? */

  #about > h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }

  .row {
    flex-direction: column;
    justify-content: normal;
    align-items: center;
  }

  .col-4 {
    max-width: 80%;
    margin: 0;
    flex-direction: row;
  }

  .col-4 .inner {
    display: flex;
  }

  #about .aboutTextHolder {
    margin-left: 15px;
  }

  #about .aboutTextHolder h2 {
    text-align: left;
    font-size: 32px;
  }

  #about .aboutTextHolder p {
    font-size: 18px;
  }

  .col-4:not(:last-child) {
    margin-bottom: 30px;
  }

  #about .imgContainer {
    margin: 0;
    height: 12vh;
    width: auto;
  }

  #about img {
    height: 100%;
    width: auto;
  }

  /* TOPICS */

  .easyTopic {
    max-width: 72%;
  }

  .easyTopic > div {
    flex-direction: column;
    margin-bottom: 5%;
  }

  .easyTopic > div p {
    font-size: 1.5em;
  }

  #easyLending > div > div {
    width: 90%;
  }

  #easyLending p {
    font-size: 1.3em;
  }

  #floatingETHContainer {
    width: 60%;
  }

  #easyLending .easyLeft h1:nth-child(2) {
    padding-bottom: 10px;
  }

  #easyBorrowing > div > div {
    width: 90%;
  }

  #easyBorrowing .nftElement {
    margin: auto;
    width: 40vw;
    height: 50vw;
    margin-bottom: 20px;
  }

  #easyBorrowing .easyRight h1 {
    padding-bottom: 10px;
  }

  .nftPriceContainer {

  }

  .nftPriceETHLogo {
    height: 65%;
  }

  .nftPriceContainer > .priceLabel, .nftPriceContainer > h4 {
    font-size: 1.5em;
  }

  .nftPriceContainer > .collateralLabel {
    font-size: 1em;
  }

  .nftCollectionName {
    font-size: 1em;
  }

  /* ROADMAP */

  #roadmap {
    width: 75%;
  }

  /* FAQ */

  #faq {
    max-width: 80%;
  }

  /* FOOTER */

  #footer {
    height: 6vh;
  }

  #footer > p {
    font-size: 200%;
  }

  #footer .links img {
    width: 45px;
    margin-left: 10px;
    margin-right: 10px;
  }

}
