#home {
  min-height: 80vh;
  background-color: white;
  position: relative;
}

#showoff {
  position: relative;
}

#showoff #background {
  background-image: url("../photos/background.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(80vh - 95px);
}

#showoff .content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding-top: 5%;
}


#showoff h1, #showoff p {
  color: black;
}

#leanmoreContainer {
  display: flex;
  justify-content: center;
}

#learnmore {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  font-size: 2em;
  margin: auto;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  background-color: #db0a5b;
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 5%;
  cursor: pointer;
}

#about {
  background-color: white;
  width: 100%;
}

#about h1 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}

.tile {
  box-shadow: 0 3px 47px rgba(0,0,0,0.15);
  transform-style: preserve-3d;
  position: relative;
}

.tile .inner {
  transform: translateZ(20px);
  text-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

.row {
  display: flex;
  justify-content: center;
}

.col-4 {
  max-width: 15%;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, rgba(219, 10, 91, 0.05), rgba(219, 10, 91, 0.2), rgba(219, 10, 91, 0.05));
  background: -webkit-linear-gradient(to bottom right, rgba(219, 10, 91, 0.05), rgba(219, 10, 91, 0.2), rgba(219, 10, 91, 0.05));
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
}

#about .imgContainer {
  margin: auto;
  width: 50%;
}

#about img {
  width: 100%;
}

#about h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.easyTopic {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  box-shadow: 0 3px 47px rgba(0,0,0,0.15);
  max-width: 69%; /* nice */
  margin: auto;
  margin-bottom: 50px;
}

.easyTopic > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.easyTopic > h1 {
  text-align: left;
  padding-top: 30px;
  color: black;
  font-weight: lighter;
  font-size: 1.5em;
  padding-left: 30px;
}

#easyLending {
  margin-top: 50px;
}

#easyLending .easyLeft h1:nth-child(2) {
  padding-bottom: 20px;
}

#easyBorrowing .easyRight h1 {
  padding-bottom: 20px;
}

#easyLending p {
  font-size: 1.2em;
}

#easyLending > div > div {
  width: 34.5%;
}

#floatingETHContainer {
  width: 75%;
  margin: auto;
}

#floatingETHContainer > img {
  width: 100%;
}

.nftElement {
  width: 240px;
  height: 300px;
  margin: auto;
  cursor: default;
}

#easyLending .nftElement {
  margin-right: 0;
}

/* BORROWING */

#easyBorrowing > div > div {
  width: 30%;
}

#easyBorrowing .nftElement {
  margin-left: 0;
}

@media (max-aspect-ratio: 4/3) {
  .nftElement {
    width: 16vw;
    height: 20vw;
  }
}
